body {

    background-image: url(../Imagenes/bg_hero_1.svg);
    background-size: cover;
    background-repeat: no-repeat;

}

.varr {
    margin-left: 10vh;
}

.collapse {
    margin-right: 10vh;
}

.content {
    margin-top: 7vh;
    margin-left: 9vh;
}

.background {
    background-color: white;
}