*{
    margin: 0;
    padding: 0;
}

body{
background-image: url(../Imagenes/bg_hero_1.svg);
background-size: cover;
}
.varr{
margin-left: 10vh;

}

.imge{
margin-top: 12vh;
margin-left: 15vh;
}

.txt{
    margin-top: 25vh;
}

.collapse{
    margin-right: 10vh;
}

