body{
    background-image: url(../Imagenes/fondologin.svg);
    background-repeat: no-repeat;
    background-size: cover;
    }
    
    .padre{
      display: flex;
      justify-items: center;
      justify-content: center;
      margin: 13%;
      margin-top: 2.5%;
      margin-bottom: 2.5%;
      height: 714px;
    
    }
    
    .hijo{
        background-color: white;
        border-radius: 10px;
       height: 100%;
       width: 100%;
    }
    
    .hijo img{
    width: 50%;
    height: 100%;
    }
    
    .formulario{
        float: right;
        width: 100%;
        height: 100%;
    }
    
    .form{
        height: 300px;
        margin: 5px 10px;
        padding: 20px 70px;
        margin-left: 25%;   
    
    }
    
    .cuadro{
    width: 100%;
    border: 1px solid gray;
    margin-bottom:15px ;
    padding: 15px 10px;
    
    }
    
    .boton{
        width: 105%;
        height: 40px;
        background-color: orange;
        border-radius: 30px;
        border: none;
        color: white;
    }
    
    .form h4{
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .formulario h1{
        font-family: Arial, Helvetica, sans-serif;
        margin: 50px 40px;
        
    }
    
    .formulario h1{
        text-align: center;


    }

    .formulario input{
        width: 60%;

    }

