*{
    margin: 0;
    padding: 0;
}

body{
background-image: url(../Imagenes/bg_hero_1.svg);
background-size: cover;
}

.varr{
margin-left: 10vh;

}

.imge{
margin-top: 12vh;
margin-left: 15vh;
}

.txt{
    margin-top: 25vh;
}

.collapse{
    margin-right: 10vh;
}

.content{
    opacity: 0;
    transition: .5s;
}

.img{
    transition: .5s;
}


.hor:hover .img{
    scale: 1.3;
}

.hor:hover .content{
    opacity: 1;
}



