<style>
*{
    margin: 0;
    padding: 0;
}

body{
background-image: url(https://i.ibb.co/njr88DT/bg-hero-1.jpg);
background-size: cover;
}

.collapse{
    margin-right: 10vh;
}

</style>

<nav class="navbar navbar-expand-lg bg-transparent">
        <div class="container-fluid">
            <a class="navbar-brand ms-5" href="/auth/inicio">
                <img class="varr" style="margin-left: 10vh;" src="https://i.ibb.co/Rz9T3Wj/favicon.png" alt="Logo" width="300" height="70">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-1 mb-lg-0">
                    <li class="navbar-brand me-5">
                        <a class="nav-link active" aria-current="page" href="Modulos.html">Modulos</a>
                    </li>
                    <li class="navbar-brand me-5">
                        <a class="nav-link active" href="ventajas.html">Ventajas</a>
                    </li>
                    <li class="navbar-brand me-5">
                        <a class="nav-link active" href="contacto.html">Contacto</a>
                </ul>
                <form class="d-flex">
                    <a class="btn btn-dark me-2 btn-lg border rounded-pill" href="/signup" role="button">Iniciar
                        sesion</a>
                    <a class="btn btn-dark me-2 btn-lg border rounded-pill" href="/signin"
                        role="button">Registrarse</a>

                </form>
            </div>
        </div>
</nav>
<div class="container justify-content-center text-start">
        <div class="row">
            <div class="col" style="margin-top: 25vh;">
                <h1 class="text-black text-start">
                    Administra tu escuela <br> deportiva con PIVOOT
                </h1>
                <br>
                <p>Pivoot te brinda un servicio para gestionar y administrar <br>
                    tus categorias, tener un mejor control de los usuarios y jugadores que <br>
                    hacen parte del Sistema, ademas de tener un control de asistencia y <br>
                    rendimiento de cada jugador dentro de la escuela
                </p>
            </div>
            <div class="col" style="margin-top: 12vh; margin-left: 15vh;">
                <img class="varr" src="https://i.ibb.co/nR3yt40/foto.png" alt="Foto Baquet" height="602">
            </div>
    </div>
</div>